---
import Image from "astro/components/Image.astro";
import recipeImage from "../../assets/images/matcha/IcedMatcha.webp";
import recipeIllu from "../../assets/images/recipes/milk-piohni.svg";

import "../../styles/recipes.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import RecipeIngredients from "../../components/molecules/RecipeIngredients.astro";
import RecipeDirections from "../../components/molecules/RecipeDirections.astro";
import MatchaKitSection from "../../components/sections/MatchaKitSection.astro";
---

<BaseLayout titleTag="" pagename="iced-matcha-latte">
  <main>
    <section id="recipe_section">
      <div id="ingredient_section">
        <RecipeIngredients recipeName="iced Matcha latte" recipeType="Classic Recipe" ingredientNote="*we like to use oat milk to complement the nutty flavour profile of our matcha powder">
          <li slot="ingredient1">1.5 tsp Piohní Ceremonial Grade Matcha</li>
          <li slot="ingredient2">50 ml Water</li>
          <li slot="ingredient3">150 ml Milk of choice*</li>
          <li slot="ingredient4">Sweetener (optional)</li>
          <li slot="ingredient5">Ice cubes</li>
          <li slot="equipment1">Piohní matcha powder</li>
          <li slot="equipment2">Matcha whisk</li>
          <li slot="equipment3">Chawan bowl</li>
          <li slot="equipment4">kettle or pot</li>
        </RecipeIngredients>
        <div class="ImageContainer">
          <Image src={recipeImage} alt="" class="RecipeImage" />
        </div>
      </div>
      <div id="direction_section">
        <div class="IlluContainer">
          <Image src={recipeIllu} alt="" class="RecipeImage" />
        </div>
        <RecipeDirections
          step1="Add Piohní Ceremonial Grade matcha powder into 50 ml water. We do not recommend using boiling water, since it scorches the delicate matcha powder making it taste burnt."
          step2="Next, infuse the matcha into the water using our chasen, bamboo matcha whisk in back-and-forth motions, create a 'W' shape with your wrist, and mix the matcha until foamy and smooth."
          step3="Optional — add 1 to 2 tsp of sugar or sweetener into the matcha. (This step it not needed with the high quality of our ceremonial grade matcha, but some may like it extra sweet)."
          step4="Pour 150 ml of your favourite milk into a glass filled with ice cubes. We like to pair our matcha latte with oat milk to compliment the nutty flavour of the delicate matcha powder."
          step5="Add the matcha mixture on top for a nice waterfall effect. Take a moment and stir your matcha."
        />
      </div>
    </section>
    <MatchaKitSection />
  </main>
</BaseLayout>
