---
import Image from "astro/components/Image.astro";
import recipeImage from "../../assets/images/recipes/matcha-latte.jpg";
import recipeIllu from "../../assets/images/recipes/matcha-latte.jpg";

import "../../styles/recipes.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import RecipeIngredients from "../../components/molecules/RecipeIngredients.astro";
import RecipeDirections from "../../components/molecules/RecipeDirections.astro";
---

<BaseLayout titleTag="" pagename="matcha-g&t">
  <main>
    <section id="recipe_section">
      <div id="ingredient_section">
        <RecipeIngredients recipeName="">
          <li slot="ingredient1"></li>
          <li slot="ingredient2"></li>
          <li slot="ingredient3"></li>
          <li slot="ingredient4"></li>
          <li slot="ingredient5"></li>
          <li slot="ingredient6"></li>
          <li slot="ingredient7"></li>
          <li slot="equipment1"></li>
          <li slot="equipment2"></li>
          <li slot="equipment3"></li>
          <li slot="equipment4"></li>
          <li slot="equipment5"></li>
        </RecipeIngredients>
        <div class="ImageContainer">
          <Image src={recipeImage} alt="" class="RecipeImage" />
        </div>
      </div>
      <div id="direction_section">
        <div class="IlluContainer">
          <Image src={recipeIllu} alt="" class="RecipeImage" />
        </div>
        <RecipeDirections step1="" step2="" step3="" step4="" step5="" />
      </div>
    </section>
    <section id="matchaGear_section"></section>
  </main>
</BaseLayout>
