:root {
  /* ----------------- primitives ----------------- */

  /* primitive colors */
  --Primitives-Color-Brown-300: #cfb59e;
  --Primitives-Color-Brown-400: #866752;
  --Primitives-Color-Brown-500-25t: rgba(108, 77, 56, 0.25);
  --Primitives-Color-Brown-500-50t: rgba(108, 77, 56, 0.5);
  --Primitives-Color-Brown-500: #6c4d38;
  --Primitives-Color-Brown-800-65t: rgba(61, 45, 33, 0.65);
  --Primitives-Color-Brown-800: #3d2d21;

  --Primitives-Color-Sand-100-60t: rgba(253, 252, 251, 0.6);
  --Primitives-Color-Sand-50: #fffffe;
  --Primitives-Color-Sand-100: #fdfcfb;
  --Primitives-Color-Sand-200: #f7f2ef;
  --Primitives-Color-Sand-400: #d5d0c8;

  --Primitives-Color-WarmBlue-200: #dee5ed;
  --Primitives-Color-WarmBlue-400: #bad6eb;
  --Primitives-Color-WarmBlue-500: #81a9c7;
  --Primitives-Color-WarmBlue-600: #3f6e91;
  --Primitives-Color-WarmBlue-900: #051e30;

  --Primitives-Color-gray-100: #fafafa;
  --Primitives-Color-gray-400: #d0d0d0;

  /* sizes */
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;

  /* ----------------- Tokens ----------------- */
  /* Background colors */
  --Color-Background-Accent: var(--Primitives-Color-WarmBlue-400);
  --Color-Background-Primary: var(--Primitives-Color-Sand-100);
  --Color-Background-Secondary: var(--Primitives-Color-Sand-200);

  /* Effect colors */
  --Color-Effect-Dropshadow-Button-Default: var(--Primitives-Color-Brown-500-25t);
  --Color-Effect-Dropshadow-Button-Hover: var(--Primitives-Color-Brown-500-25t);
  --Color-Effect-Dropshadow-Button-Pressed: var(--Primitives-Color-Brown-500-50t);
  --Color-Effect-Innershadow-Button-Pressed: var(--Primitives-Color-Brown-500-25t);

  /* Button colors */
  --Color-Fill-Button-Disabled: var(--Primitives-Color-gray-100);
  --Color-Fill-Button-Primary: var(--Primitives-Color-Sand-200);
  --Color-Fill-Button-Secondary: var(--Primitives-Color-Sand-50);
  --Color-Fill-Button-Tertiary: var(--Primitives-Color-Brown-500);

  /* Icon colors */
  --Color-Fill-Icon-Disabled: var(--Primitives-Color-gray-400);
  --Color-Fill-Icon-Icon: var(--Primitives-Color-Brown-800);
  --Color-Fill_Icon_White: var(--Primitives-Color-Sand-50);
  --Color-Fill-Icon-transparent: var(--Primitives-Color-Brown-800-65t);

  /* Other fill colors */
  --Color-Fill-Input: var(--Primitives-Color-Sand-100-60t);
  --Color-Fill-Quotation: var(--Primitives-Color-Brown-500);
  --Color-Fill-Star: var(--Primitives-Color-Brown-800);
  --Color-Fill-step: var(--Primitives-Color-WarmBlue-400);

  /* Stroke colors */
  --Color-Stroke-Disabled: var(--Primitives-Color-gray-400);
  --Color-Stroke-Primary: var(--Primitives-Color-Sand-400);
  --Color-Stroke-Secondary: var(--Primitives-Color-Brown-800);
  --Color-Stroke-Blue: var(--Primitives-Color-WarmBlue-400);
  --Color-Stroke-Blue-Dark: var(--Primitives-Color-WarmBlue-500);

  /* Text colors */
  --Color-Text-Announcment: var(--Primitives-Color-WarmBlue-900);
  --Color-Text-Body-Transparent: var(--Primitives-Color-Brown-800-65t);
  --Color-Text-Body: var(--Primitives-Color-Brown-800);
  --Color-Text-Button: var(--Primitives-Color-Brown-800);
  --Color-Text-Disabled: var(--Primitives-Color-gray-400);
  --Color-Text-Headline: var(--Primitives-Color-Brown-800);
  --Color-Text-Navigation: var(--Primitives-Color-Brown-800);
  --Color-Text-White: var(--Primitives-Color-Sand-50);
  --Color-Text-Hover: var(--Primitives-Color-WarmBlue-600);
}

body {
  background-color: var(--Color-Background-Primary);
}
main {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

@media (min-width: 700px) {
  main {
    padding: var(--Spacing-Huge4, 120px) 0px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Color-Text-Headline);
}

p,
label,
textarea,
a {
  color: var(--Color-Text-Body);
}
/* ---------- Typography ----------- */
.Typo-signature {
  font-size: 24px;
  font-family: "Square Peg", cursive;
  font-weight: 400;
  letter-spacing: 0.7699999809265137px;
  line-height: 108.80000591278076%;
}
.Typo-navigation {
  font-size: 13.199999809265137px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.9240000247955322px;
  line-height: 22.440000534057617px;
  text-transform: uppercase;
  text-decoration: none;
}
.Typo-announcement {
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.7699999809265137px;
  line-height: 18.149999618530273px;
}
.Typo-testimonial {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: -0.17000000178813934px;
  line-height: 20px;
}
.Typo-button_label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
  text-align: center;
}
.Typo-button-label-small {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}
.Typo-testimonial-reference {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: -0.17000000178813934px;
}
.Typo-link {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
}
.Typo-link:hover {
  color: var(--Color-Text-Hover);
}
li,
.Typo-list {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1.7699999809265137px;
  line-height: 24px;
}
.Typo-chip {
  font-size: 16.734375px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.17000000178813934px;
  line-height: 28.049999237060547px;
}
.Typo-body-regular {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7699999809265137px;
}
.Typo-body-small {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.9240000247955322px;
  line-height: 18px;
}
.Typo-body-bold {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.9240000247955322px;
  line-height: 24px;
}
.Typo-body-large {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7699999809265137px;
  line-height: 28px;
}
.Typo-body-large-uppercase {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.7699999809265137px;
  line-height: 22px;
  text-transform: uppercase;
}
.Typo-headline-large {
  font-size: 40px;
  font-family: "contralto-medium", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.7699999809265137px;
  text-transform: uppercase;
}
.Typo-headline-sub-headline {
  font-size: 20px;
  font-family: "contralto-medium", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.7699999809265137px;
  line-height: 28px;
}
.Typo-headline-medium-classic {
  font-family: "contralto-medium", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.77px;
}
.Typo-headline-medium-breaker {
  font-size: 32px;
  font-family: "contralto-medium", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7699999809265137px;
}
.Typo-headline-medium-uppercase {
  font-size: 32px;
  font-family: "contralto-medium", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.7699999809265137px;
  text-transform: uppercase;
}
.Typo-headline-medium-secondary {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 22px;
  text-transform: capitalize;
}
.Typo-headline-small-elegant {
  font-size: 24px;
  font-family: "contralto-medium", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.7699999809265137px;
}
.Typo-headline-small-classic {
  font-size: 24.200000762939453px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1.694000005722046px;
  line-height: 36.29999923706055px;
}
.Typo-headline-xstrasmall-uppercase {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
  text-transform: uppercase;
}
.Typo-headline-xstrasmall-classic {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
}
.Typo-headline-xstrasmall-secondary {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: capitalize;
}
.Typo-footer-link {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.17000000178813934px;
  line-height: 28.049999237060547px;
  text-decoration: none;
}
.Typo-footer-headline {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.9240000247955322px;
  line-height: 22px;
  text-transform: uppercase;
}
.Typo-productcard-product {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
  text-transform: capitalize;
}
.Typo-productcard-price {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
  color: var(--Color-Text-Body-Transparent, rgba(61, 45, 33, 0.65));
}
.Typo-productcard-note {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
  color: var(--Color-Text-Body-Transparent, rgba(61, 45, 33, 0.65));
}
.Typo-form-label {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
}
.Typo-form-placeholder {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
}
.Typo-form-headline {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
}
.Typo-link-large {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7699999809265137px;
  line-height: 18px;
}
.Typo-link-large:hover {
  color: var(--Color-Text-Hover);
}
.Typo-button-explainer {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 129.99999523162842%;
}
.Typo-price-large {
  font-size: 19.799999237060547px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1.3860000371932983px;
}

/* ---------- Button---------- */
.button {
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 99px;
}

.button:disabled {
  background-color: var(--Color-Fill-Button-Diabled);
}

.image {
  object-fit: cover;
}
