---
import Form from "../molecules/Form.astro";
const { headline, subheadline, SectionId, hasBackground } = Astro.props;
---

<section id={SectionId} class="form_section" color-variant={hasBackground}>
  <div id="formHeadings">
    <h2 id="formHeadline" class="Typo-headline-medium-uppercase">{headline}</h2>
    <p id="formSubHeadline" class="Typo-headline-sub-headline">{subheadline}</p>
  </div>
  <Form />
</section>

<style>
  .form_section,
  #formHeadings {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form_section {
    gap: 40px;
    padding: 0px 40px;
  }
  #formHeadings {
    gap: 12px;
  }

  /* ----------- Variants ----------- */

  /* With background */
  [color-variant="true"] {
    background-color: var(--Color-Background-Secondary);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: 650px) {
    .form_section,
    #formHeadings {
      align-items: center;
    }
    #formHeadline,
    #formSubHeadline {
      text-align: center;
      max-width: 657px;
    }
  }
  @media (min-width: 700px) {
    .form_section {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  @media (min-width: 740px) {
    .form_section {
      padding: 80px 80px 120px 80px;
    }
  }
</style>
