---
import Form from "../molecules/Form.astro";
const { headline, subheadline, SectionId } = Astro.props;
---

<section id={SectionId} class="form_section">
  <div id="formHeadings">
    <h2 id="formHeadline" class="Typo-headline-medium-uppercase">{headline}</h2>
    <p id="formSubHeadline" class="Typo-headline-sub-headline">{subheadline}</p>
  </div>
  <Form />
</section>

<style>
  .form_section,
  #formHeadings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form_section {
    gap: 40px;
  }
  #formHeadings {
    gap: 12px;
  }
  #formHeadline,
  #formSubHeadline {
    text-align: center;
    max-width: 657px;
  }
  @media (min-width: 740px) {
    #form_section {
      padding: var(--Spacing-Huge2, 80px) var(--Spacing-Huge2, 80px) var(--Spacing-Huge4, 120px) var(--Spacing-Huge2, 80px);
    }
  }
</style>
