---
import BaseLayout from "../layouts/BaseLayout.astro";
import Form from "../components/Form.astro";
---

<BaseLayout titleTag="Discover Premium Matcha Excellence">
  <main>
    <h1>Creamy Calming Matcha</h1>
    <Form />
  </main>
</BaseLayout>
