---
import Image from "astro/components/Image.astro";
import heroImage from "../assets/images/matcha/matcha-whisk03.webp";
import BaseLayout from "../layouts/BaseLayout.astro";
import FormSection from "../components/sections/FormSection.astro";
import Button from "../components/atoms/Button.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ProductSection from "../components/sections/ProductSection.astro";
import InstaCTA from "../components/sections/InstaCTA.astro";
import Testimonial from "../components/molecules/Testimonial.astro";
import TestimonialSection from "../components/sections/TestimonialSection.astro";
---

<BaseLayout titleTag="Discover Premium Matcha Excellence">
  <main>
    <HeroSection />
    <ProductSection id="product_section" />
    <TestimonialSection />
    <!-- have a taste section -->
    <!-- how to make section -->
    <!-- faq section -->
    <InstaCTA headline="Want to be a part of the comunity?" />
    <!-- partners section -->
  </main>
</BaseLayout>
<style>
  main {
    padding-top: 0;
  }
  /* ---------- Product section ---------- */
</style>
