---
import Image from "astro/components/Image.astro";
import heroImage from "../assets/images/matcha/matcha-whisk03.webp";
import BaseLayout from "../layouts/BaseLayout.astro";
import FormSection from "../components/sections/FormSection.astro";
import Button from "../components/atoms/Button.astro";
import HeroSection from "../components/sections/HeroSection.astro";
---

<BaseLayout titleTag="Discover Premium Matcha Excellence">
  <HeroSection />
  <main>
    <section id="product_section"></section>
  </main>
</BaseLayout>
<style>
  /* ---------- Product section ---------- */
</style>
