---
import BaseLayout from "../layouts/BaseLayout.astro";
import FormSection from "../components/sections/FormSection.astro";
---

<BaseLayout titleTag="Discover Premium Matcha Excellence">
  <main>
    <h1>Creamy Calming Matcha</h1>
    <FormSection />
  </main>
</BaseLayout>
