---
const { placeholder, type, autocomplete, inputId } = Astro.props;
---

<div class="inputFieldContainer">
  <div class="Field">
    <input type={type} autocomplete={autocomplete} id={inputId} class="inputField Typo-form-placeholder" placeholder={placeholder} name="userInfo" required />
  </div>
</div>
<style>
  .inputFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  .Field {
    border: 1px solid var(--Color-Stroke-Primary);
    background: var(--color-surface-white, #fff);
    display: flex;
    justify-content: space-between;
  }

  .inputField,
  .inputField::placeholder {
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .inputField {
    padding: 10px;
    border: none;
    min-width: 280px;
    width: 100%;
    max-width: 322px;
    color: var(--Color-Text-Body);
  }
  .inputField::placeholder {
    color: var(--Color-Text-Body-Transparent);
  }
  #unit {
    color: var(--color-text-gray500);
    padding: 10px 20px;
  }

  input:focus {
    outline-color: var(--Color-Stroke-Blue);
  }
</style>
