---
import "../../styles/global.css";
import InputField from "../atoms/InputField.astro";
import RadioButton from "../atoms/RadioButton.astro";
---

<form action="" id="ContactForm">
  <div id="contactInfo" class="formElement">
    <label for="radioButtonContainer" class="Typo-form-headline">Contact information*</label>
    <div id="inputFieldOrganizer">
      <InputField inputId="ContactName" type="text" autocomplete="name" placeholder="Name" />
      <InputField inputId="ContactMail" type="email" autocomplete="email" placeholder="E-mail" />
    </div>
  </div>
  <div id="inquiry" class="formElement">
    <label for="radioButtonContainer" class="Typo-form-headline">Inquiry type*</label>
    <div id="radioButtonContainer">
      <RadioButton label="General" radioGroup="InquiryType" state="checked" />
      <RadioButton label="B2B" radioGroup="InquiryType" />
      <RadioButton label="Event" radioGroup="InquiryType" />
    </div>
  </div>
  <div id="messageContainer" class="formElement">
    <label for="radioButtonContainer" class="Typo-form-headline">Inquiry message*</label>
    <textarea class="Typo-form-placeholder" rows="4" cols="50" name="message" form="ContactForm" placeholder="Message..." required></textarea>
  </div>
  <div class="formElement">
    <input type="submit" value="Send message" class="button Typo-button_label" id="formButton" />
  </div>
</form>

<style>
  .formElement {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  #ContactForm {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 660px;
  }

  /* ---------- contact information ---------- */

  #inputFieldOrganizer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 12px;
    width: 100%;
  }
  /* ---------- inquiry selector ---------- */
  #radioButtonContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  /* ---------- message input field ---------- */
  textarea {
    border: 1px solid var(--Color-Stroke-Primary);
    color: var(--Color-Text-Body);
    padding: 10px;
  }
  textarea:focus {
    outline-color: var(--Color-Stroke-Blue);
  }

  /* ---------- Form button---------- */

  #formButton {
    background-color: var(--Color-Fill-Button-Tertiary);
    border: none;
    box-shadow: 0px 1px 4px 0px var(--Color-Effect-Dropshadow-Button-Default);
    color: var(--Color-Text-White);
  }

  /* -------------------- */

  @media (max-width: 740px) {
    #ContactForm {
      padding-left: 20px;
      padding-right: 20px;
    }
    #inputFieldOrganizer {
      flex-wrap: wrap;
      gap: 8px;
    }
  }
  @media (max-width: 320px) {
    #radioButtonContainer {
      flex-direction: column;
      gap: 8px;
    }
  }
</style>
