---
const { cosName, review } = Astro.props;
---

<div class="testimonial">
  <div class="quotation_container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 27" fill="none" class="quotation">
      <path
        d="M24.4805 0C25.4935 0 26 0.559036 26 1.67702C26 2.57146 25.6061 3.63351 24.8182 4.86335C23.9177 6.0932 23.1299 7.43481 22.4545 8.8882C21.7792 10.3416 21.2164 11.5155 20.7662 12.4099C20.2034 14.087 19.9221 16.0994 19.9221 18.4472C21.0476 18.559 22.0606 18.8944 22.961 19.4534C23.7489 20.0125 24.1429 21.0187 24.1429 22.472V22.8075C24.1429 23.59 23.9177 24.3168 23.4675 24.9876C22.9047 25.7702 22.3982 26.3292 21.9481 26.6646C21.0476 26.8882 20.4286 27 20.0909 27C18.5151 27 17.2771 26.5528 16.3766 25.6584C15.3636 24.7639 14.8571 23.4223 14.8571 21.6335C14.8571 19.5094 14.9697 17.9441 15.1948 16.9379C15.3073 15.9317 15.5325 14.8695 15.8701 13.7516C16.3203 11.8509 16.9956 9.83848 17.8961 7.71428C18.7966 5.59009 19.8096 3.74537 20.9351 2.18012C22.0606 0.72674 23.2424 0 24.4805 0ZM9.62337 0C10.6364 0 11.1429 0.559036 11.1429 1.67702C11.1429 2.57146 10.7489 3.63351 9.96104 4.86335C9.06057 6.0932 8.27273 7.43481 7.5974 8.8882C6.92208 10.3416 6.35928 11.5155 5.90909 12.4099C5.34629 14.087 5.06493 16.0994 5.06493 18.4472C6.19044 18.559 7.20343 18.8944 8.1039 19.4534C8.89174 20.0125 9.28571 21.0187 9.28571 22.472V22.8075C9.28571 23.59 9.06058 24.3168 8.61039 24.9876C8.04759 25.7702 7.54109 26.3292 7.09091 26.6646C6.19044 26.8882 5.57143 27 5.23377 27C3.65798 27 2.41995 26.5528 1.51948 25.6584C0.506493 24.7639 0 23.4223 0 21.6335C0 19.5094 0.112522 17.9441 0.337664 16.9379C0.450184 15.9317 0.675325 14.8695 1.01299 13.7516C1.46317 11.8509 2.19481 9.83848 3.20779 7.71428C4.10826 5.59009 5.12125 3.74537 6.24675 2.18012C7.25974 0.72674 8.38525 0 9.62337 0Z"
      ></path>
    </svg>
  </div>
  <p class="Typo-testimonial">{review}</p>
  <p class="Typo-testimonial-reference">– {cosName}</p>
</div>

<style>
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: max-content;
    max-width: 310px;
  }
  .quotation {
    width: 26px;
    height: 27px;
    fill: var(--Color-Fill-Quotation, #6c4d38);
    margin: 0 10px;
  }
</style>
