---
import "../styles/global.css";
import "../styles/reset.css";
import Footer from "../components/global/Footer.astro";
import Header from "../components/global/Header.astro";
const { titleTag, pagename } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/bhm1uvr.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />

    <title>{titleTag}</title>
  </head>
  <body>
    <Header activePage={pagename} />
    <slot />
    <Footer />
  </body>
</html>
